body {
  font-family: Arial;
}

.todo-grid,
.todo-input-grid {
  display: grid;
  grid-template-columns: 10rem 10rem 5rem;
  column-gap: 0.5rem;
  row-gap: 1rem;
  align-items: center;
}

.todo-input-grid {
  margin-bottom: 1rem;
  align-items: stretch;
}

.name-input,
.due-date-input {
  font-size: 15px;
  padding: 10px;
}

.add-button {
  background-color: green;
  border: none;
  padding: 10px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
}

.delete-button {
  background-color: darkred;
  border: none;
  font-size: 15px;
  padding: 10px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

@media (max-width: 768px) {

  .todo-grid,
  .todo-input-grid {
    grid-template-columns: 1fr;
    row-gap: 0.5rem;
  }

  .add-button,
  .delete-button {
    width: 90%;
    text-align: center;
  }
}