body {
  font-family: Arial;
  background-color: hsl(0, 0%, 10%);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 4rem;
}

.todo-grid,
.todo-input-grid {
  display: grid;
  grid-template-columns: 10rem 10rem 5rem;
  column-gap: 0.5rem;
  row-gap: 1rem;
  align-items: center;
}

.todo-input-grid {
  margin-bottom: 1rem;
  align-items: stretch;
}

.name-input,
.due-date-input {
  font-size: 15px;
  padding: 10px;
}

button {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem 2.5rem;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  width: 90%;
  text-align: center;
}

.add-button {
  background-color: hsl(125, 47%, 54%);
  padding: 1rem 2.5rem;
}

.delete-button {
  background-color: hsl(10, 90%, 50%);

}

@media (max-width: 768px) {

  .todo-grid,
  .todo-input-grid {
    grid-template-columns: 1fr;
    row-gap: 0.5rem;
  }

  .add-button,
  .delete-button {
    width: 90%;
    text-align: center;
  }
}